<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBCONFIG"  connectionString="Data Source=192.168.169.43;Initial Catalog=APP_Risk_Data;Persist Security Info=True;User ID=sa;Password=admin;Max Pool Size=2000"  providerName="System.Data.SqlClient"/>
    <add name="MYSQLDBCONFIG" connectionString="server=172.21.17.13;uid=tyuser;pwd=tyuser123;database=tysql;Charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="stations" value="hlg,hgq,egd"/>
    <add key="hlg" value="欢乐谷,121.208,31.099,01"/>
    <add key="hgq" value="上海化学工业区,121.446,31.8,02"/>
    <add key="egd" value="上海第二工业大学,121.647,31.262,03"/>
    <add key="LightningSource"  value="W" />

  </appSettings>
</configuration>
