<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCONFIG"  connectionString="Data Source=192.168.169.43;Initial Catalog=APP_Risk_Data;Persist Security Info=True;User ID=sa;Password=admin;Max Pool Size=2000"  providerName="System.Data.SqlClient"/>
    <add name="MYSQLDBCONFIG" connectionString="server=172.21.17.13;uid=tyuser;pwd=tyuser123;database=tysql;Charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SHPPath"  value="F:\ReadearthCode\JSONService\JsonService\geometry\street.shp" />

    <add key="stations" value="hlg,hgq,egd"/>
    <add key="hlg" value="欢乐谷,121.208,31.099,01"/>
    <add key="hgq" value="上海化学工业区,121.446,31.8,02"/>
    <add key="egd" value="上海第二工业大学,121.647,31.262,03"/>

    <!--146,新江湾城街道-->
    <add key="146"  value="95274854" />
    <!--89,五角场街道-->
    <add key="89"  value="82275990" />
    <!--215,嘉定镇-->
    <add key="215"  value="82275976" />

    <!--V:Vaisala-->
    <!--W:WeatherBug-->
    <add key="LightningSource"  value="V" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <mexEndpoint>
        <standardEndpoint name="mex" />
      </mexEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <services>
      <service  name="JsonServiceLib.JsonService" behaviorConfiguration ="metadataExchange">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="webBinding" name="web" contract="JsonServiceLib.IJsonService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
      </service>
      <service  name="JsonServiceLib.JsonService_Geliku" behaviorConfiguration ="metadataExchange">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="webBinding" name="web" contract="JsonServiceLib.IJsonService_Geliku" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataExchange">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
